@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@font-face {
    font-family: 'ProximaNova-Bold';
    src: local(ProximaNova-Bold),
    url('./Шрифты/ProximaNova-Bold.ttf');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: local(ProximaNova-Bold),
    url('./Шрифты/ProximaNova-Semibold.ttf');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: local(ProximaNova-Bold),
    url('./Шрифты/ProximaNova-Regular.ttf');
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: local(ProximaNova-Bold),
    url('./Шрифты/ProximaNova-Light.ttf');
}
    /* Шрифт ProximaNova-Bold */
.ProximaNova-Semibold {
    font-family: 'ProximaNova-Semibold';
}
.ProximaNova-Bold {
    font-family: 'ProximaNova-Bold';
}
.ProximaNova-Light {
    font-family: 'ProximaNova-Light';
}
.ProximaNova-Regular {
    font-family: 'ProximaNova-Regular';
}
.FS-48 {
    font-size: 48px;
}
.FS-24 {
    font-size: 24px;
}
.FS-26 {
    font-size: 26px;
}
.FS-22 {
    font-size: 22px;
}
.FS-20 {
    font-size: 20px;
}
.FS-19 {
    font-size: 20px;
}
.FS-18 {
    font-size: 18px;
}
.FS-17 {
    font-size: 17px;
}
.FS-16 {
    font-size: 16px;
}
.FS-15 {
    font-size: 15px;
}
.FS-14 {
    font-size: 14px;
}

    /* Отступы TOP */
.padT-45 {
    padding-top: 45px ;
}
.padT-30 {
    padding-top: 30px;
}
.padT-25 {
    padding-top: 25px;
}
.padT-20 {
    padding-top: 20px;
}
.padT-15 {
    padding-top: 15px;
}
.padT-10 {
    padding-top: 20px;
}
    /* Отступы TOP-BOTTOM */
.padT-B-80 {
    padding: 80px 0;
} 
.padL-40 {
    padding-left: 40px ;
}
    /* Курсор палец */
.cursor {
    cursor: pointer;
}