@media (max-width: 768px) {
    .slider-feedbacks {
        font-size: 14px;
    }
}
@media (max-width: 576px) {
    .slider-feedbacks {
        font-size: 13px;
        text-align: justify;
    }
    .btn-feedbacks {
        width: 180px;
        height: 45px;
        font-size: 12px;
    }
}
@media (max-width: 486px) {
    .slider-feedbacks {
        font-size: 12px;
    }
}
@media (max-width: 327px) {
    .slider-feedbacks {
        font-size: 11px;
    }  
}